.grid-view {
    display: flex;
}

.grid-view__column {
    flex: 1 1 33%;
    padding: 15px;
    border: 3px double #bfbfbf;
    border-right: 0;
    background-color: #bfbfbf;
}

.grid-view__column:nth-child(even) {
    background-color: #dedede;
}

.grid-view__column:last-of-type {
    border-right: 1px solid #bfbfbf;
}